/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css?family=Karla|Questrial|Quicksand');

/* Importing all components file */
@import url("components/div-fill.css");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

/*General style rules for fonts and colours */
body {
	font-family: 'Karla', sans-serif;
	font-size:18px;
	margin:0px;
	background-color: #fbeed7;
}
h1, h2, h3 {
	font-family: 'Quicksand', sans-serif;
	text-align: justify-all;

}

h3 {
	color:#db2d43;
	font-size:30px;
}

a{
	text-decoration: none;
}

